@charset "utf-8";

/* --------------------------------------------------
 Import 
-------------------------------------------------- */

@import "../_default";


/* ------------ Size ------------ */

/* Width */
$w_wrap: 1200px; 
$w_drawer: 300px; 
$w_sideMenu: 200px; 
$w_centeringElement: 700px; 
$w_btn_big: 150px;


/* ------------ Typography ------------ */

/* Font Size */
$fs_biggest:  32px; 
$fs_bigger:   24px;  
$fs_big:      18px;
$fs_title:    17px;
$fs_medium:   16px;  
$fs_small:    14px;  
$fs_main:     13px;
$fs_smaller:  11px;  
$fs_smallest: 10px; 

/* ユーザー情報登録用テーブル */
.contentWrap {
    .titleArea { justify-content: space-between;
        .md_btn { width: auto; padding-left: 20px; padding-right: 20px;}
    }
    .md_table {
        tbody {
            tr { background: #fff;
                .grabArea { text-align: center; cursor: grab;
                    &:active { cursor: grabbing; }
                    .iconImgPart { width: 29px; }
                }
                &.hoverColor { filter: brightness(97%); }
                .data--btn { 
                    .btnArea {display: flex; }
                    a { }
                }
            }
        }
    
    }
    
}

