@charset "utf-8";

/* --------------------------------------------------
 Import 
-------------------------------------------------- */

@import "../_default";


/* ------------ Size ------------ */

/* Width */
$w_wrap: 1200px; 
$w_drawer: 300px; 
$w_sideMenu: 200px; 
$w_centeringElement: 700px; 
$w_btn_big: 150px;


/* ------------ Typography ------------ */

/* Font Size */
$fs_biggest:  32px; 
$fs_bigger:   24px;  
$fs_big:      18px; 
$fs_medium:   16px;  
$fs_small:    14px;  
$fs_main:     13px;
$fs_smaller:  12px;  
$fs_smallest: 10px;  


.container {
    .contentWrap { 
        .titleArea { justify-content: flex-start;
            .subText { font-size: 12px; font-weight: 400; color: #667085; }
            &.count { margin-top: 30px; align-items: end; }
        }
        .contents{ background: #fff; border: 1px solid #c2c6ce; border-radius: 8px; 
            .md_table { border: none; border-radius: 8px 8px 0 0; box-shadow: none;
                tbody {
                    .tr {
                        td {
                            ul { display: flex; align-items: center; }
                            .toggleSet { display: flex; }
                        }
                    }
                }
            }
            .btnArea { display: flex; justify-content: center; margin-top: 25px; }
            .actionArea { display: flex; justify-content: center; padding: 15px 0; }
        }
    }
}

