@charset "utf-8";

/* --------------------------------------------------
 Import 
-------------------------------------------------- */

@import "../_default";  

.container { padding-bottom: 64px;}
.contentArea { margin-top: 24px;padding: 0 16px; }

.agreeTitle { font-size: 16px; font-weight: bold;line-height: $lh_medium; text-align: center;
    + .navCopy { margin-top: 8px;}
    + .agreeList  { margin-top: 16px;}
     // For PC
     @media only screen and (min-width: $w_break_tablet) { margin-top: 32px; font-size: 20px; 
        + .navCopy { margin-top: 16px;}
        + .agreeList  { margin-top: 32px;}
    }
}
.navCopy {  font-size: 14px; line-height: $lh_medium; 
     // For PC
     @media only screen and (min-width: $w_break_tablet) {font-size: 16px; }
}

.agreeList { margin-top: 24px;
    .item { font-size: 14px; font-weight: bold;line-height: $lh_medium;}
    .data { margin-top: 8px; font-size: 14px; line-height: $lh_medium;
        + .item { margin-top: 24px;}
        .numLine { display: table; 
            .num { display: table-cell; width: 1%; white-space: nowrap; padding-right: 3px; } 
            .numText {display: table-cell;  line-height: $lh_medium;}
            + .numLine { margin-top: 4px;}
        }
        .indent { margin-top: 4px;  padding-left: 1.5em;line-height: $lh_medium;
         }
         .box { margin-top: 8px; padding: 12px; background-color: $col_bg_buleGray; border: 1px solid $col_border; border-radius: 3px;
            p { line-height: $lh_medium;}
        }

    }
    + .agreeTitle  { margin-top: 24px;}
    // For PC
    @media only screen and (min-width: $w_break_tablet) { margin-top: 32px;
        .item { font-size: 18px; }
        .data { margin-top: 12px; font-size: 16px; 
            + .item { margin-top: 32px;}
            .box { margin-top: 16px; padding: 16px; 
              
            }
        }
        + .agreeTitle  { margin-top: 32px;}
    }
}
.date {  margin-top: 20px; text-align: right;
    .item,.data { font-size: 12px; color: $col_sub; }
    .item {  
        &::after { content: ":"; margin: 0 3px}
    }
      // For PC
      @media only screen and (min-width: $w_break_tablet) { margin-top: 40px;
        .item,.data { font-size: 14px; }
    }
   
}
.linkArea { margin-top: 32px;  
    .md_textLink { margin: auto;}
     // For PC
     @media only screen and (min-width: $w_break_tablet) { margin-top: 56px;}
} 